<h1>Packed boxes</h1>

<p class="lead">Here is the list of boxes we've packed for you!</p>

<ol>
  <% PackedBoxDecorator.decorate_collection(@boxes).each do |box| %>
    <li>
      <%= box.filled_volume %>
      <%= box.list_of_products %>
    </li>
  <% end %>
</ol>

<%= link_to "Pack more", new_pack_path, class: "btn btn-default" %>
