<h1>Packed boxes</h1>

<ol>
  <% PackedBoxDecorator.decorate_collection(@boxes).each do |box| %>
    <li>
      <%= box.filled_volume %>
      <%= box.list_of_products %>
    </li>
  <% end %>
</ol>

<%= link_to "Pack more", new_pack_path %>
